apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n-deployment
  labels:
    app: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: DoesNotExist  # Ensure the node does not have the control-plane role
      containers:
      - name: n8n
        image: n8nio/n8n:1.120.0
        resources:
          limits:
            memory: "1024Mi"
          requests:
            memory: "512Mi"
        env:
        - name: N8N_SECURE_COOKIE
          value: "true"
        - name: QUEUE_HEALTH_CHECK_ACTIVE
          value: "true"
        - name: N8N_PROXY_HOPS
          value: "1"
        - name: DB_SQLITE_POOL_SIZE
          value: "0"
        - name: N8N_RUNNERS_ENABLED
          value: "true"
        - name: N8N_PERSONALIZATION_ENABLED
          value: "false"
        - name: N8N_PUBLIC_API_DISABLED
          value: "false"
        - name: N8N_PUBLIC_API_SWAGGERUI_DISABLED
          value: "true"   
        - name: N8N_HIDE_GITHUB_STAR_BUTTON
          value: "true"
        - name: TZ
          value: "Europe/Warsaw"
        - name: WEBHOOK_URL
          value: "https://api.lab.gixo.co.uk/"
        - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
          value: "true"
        ports:
        - containerPort: 5678
        volumeMounts:
        - name: n8n-data
          mountPath: /home/node/.n8n
        livenessProbe:
          exec:
            command:
              - sh
              - -c
              - 'ls /home/node/.n8n >/dev/null 2>&1 || exit 1'
          initialDelaySeconds: 40
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 3  
      volumes:
      - name: n8n-data
        persistentVolumeClaim:
          claimName: n8n-pvc
